<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="1password" />
    <package id="ag" />
    <package id="autohotkey.install" />
    <package id="CCleaner" />
    <package id="ChocolateyGUI" />
    <package id="ConEmu" />
    <package id="Devbox-RapidEE" />
    <package id="Evernote" />
    <package id="FileZilla" />
    <package id="Firefox" />
    <package id="gimp" />
    <package id="git" />
    <package id="golang" />
    <package id="GoogleChrome" />
    <package id="GoogleJapaneseInput" />
    <package id="launchy" />
    <package id="line" />
    <package id="LinkShellExtension" />
    <package id="mactype" />
    <package id="mingw" />
    <package id="nodejs" />
    <package id="peco" />
    <package id="ruby" />
    <package id="rubygems" />
    <package id="SublimeText2" />
    <package id="sysinternals" />
    <package id="teraterm" />
    <package id="thunderbird" />
    <package id="tortoisesvn" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="winmerge" />
    <package id="wireshark" />
    <package id="wizmouse" />
    <!-- Missing:
    <package id="Atom" />
    <package id="executor" />
    -->
    <!-- Manual:
    <package id="Clover" />
    <package id="dropbox" />
    <package id="Cygwin" />
    ghq
    KeySwap
    Slack
    puttyごった煮版
    かざぐるマウス
    MySQL Workbench (require Visual Studio 2013 の Visual C++ 再頒布可能パッケージ： http://www.microsoft.com/ja-jp/download/details.aspx?id=40784 )
    CraftLaunch
    XAMPP
    -->
</packages>