<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="1password" />
    <package id="ag" />
    <package id="autohotkey.install" />
    <package id="CCleaner" />
    <package id="ChocolateyGUI" />
    <package id="ConEmu" />
    <package id="Evernote" />
    <package id="FileZilla" />
    <package id="Firefox" />
    <package id="gimp" />
    <package id="GoogleChrome" />
    <package id="GoogleJapaneseInput" />
    <package id="launchy" />
    <package id="line" />
    <package id="mactype" />
    <package id="mingw" />
    <package id="peco" />
    <package id="putty" />
    <package id="SublimeText2" />
    <package id="sysinternals" />
    <package id="teraterm" />
    <package id="thunderbird" />
    <package id="tortoisesvn" />
    <package id="vagrant" />
    <package id="winmerge" />
    <package id="wizmouse" />
    <!-- Missing:
    <package id="dropbox" />
    -->
</packages>