<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="1password" />
    <package id="ag" />
    <package id="Atom" />
    <package id="autohotkey" />
    <package id="CCleaner" />
    <package id="chef-client" />
    <package id="chefdk" />
    <package id="ChocolateyGUI" />
    <package id="Devbox-RapidEE" />
    <package id="dropbox" />
    <package id="Evernote" />
    <package id="FileZilla" />
    <package id="Firefox" />
    <package id="gimp" />
    <package id="git" />
    <package id="gitextensions" />
    <package id="golang" />
    <package id="GoogleChrome" />
    <package id="GoogleJapaneseInput" />
    <package id="Growl" />
    <package id="jq" />
    <package id="line" />
    <package id="LinkShellExtension" />
    <package id="mactype" />
    <package id="MobaXterm" />
    <package id="nodejs" />
    <package id="peco" />
    <package id="python2" />
    <package id="python3" />
    <package id="ruby" />
    <package id="rubygems" />
    <package id="skitch" />
    <package id="SublimeText2" />
    <package id="sysinternals" />
    <package id="thunderbird" />
    <package id="tortoisesvn" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="winmerge" />
    <package id="wireshark" />
    <package id="wizmouse" />
    <!-- Missing:
    clover
    VirtualBox.ExtensionPack
    git extensions: https://code.google.com/p/gitextensions/
    -->
    <!-- Manual:
    ghq
    KeySwap: http://www.asahi-net.or.jp/~ee7k-nsd/
    Slack
    putty-gdi: http://ice.hotmint.com/putty/
    かざぐるマウス
    giraffe+: http://giraffe-script.sourceforge.net/index_jp.shtml
    A5SQL Mk-2
    CraftLaunch
    XAMPP
    Explzh
    clibor: http://www.amunsnet.com/
    zeal: http://zealdocs.org/
    Eclipse
    java jdk
    phpDocumentor
    -->
    <!-- Re-install on MobaXterm
    git (apt-cyg)
    ruby (apt-cyg & rbenv)
    rubygems (apt-cyg)
    -->
    <!-- Re-install on MobaXterm ?
    ag (not work now)
    ghq (not work now)
    golang (not work now)
    peco (not work now)
    -->
</packages>
